@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.green {
  color: #92d35e;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 13vh;
}
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 78px;
  line-height: 100px;
  /* background: linear-gradient(rgb(188, 182, 167), transparent); */
  background-color: white;

  z-index: 100;
}
.nav-logo p {
  color: rgb(34, 35, 33);
  font-size: 25px;
  font-weight: 600;
}
.nav-menu ul {
  display: flex;
}
.nav-menu ul li {
  list-style-type: none;
}
.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: #070707;
  padding-bottom: 15px;
  margin: 0 25px;
}
.link:hover,
.active {
  border-bottom: 1px solid #100f0f;
}
.nav-button .btn {
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
#registerBtn {
  margin-left: 15px;
}
.btn.white-btn {
  background: rgb(146 211 94);
}
.btn.btn.white-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn {
  display: none;
}
